.cont{
    height: 100px;
    width: 100px;
    background-color: aqua;
    /* align-content: center;   */

    align-items: center ;
    margin: 5px;}

#parent{
    display:flex;           /* default is row */ 
    /* flex-direction: row-reverse;  */
    flex-wrap: wrap-reverse;

    justify-content: center;
height: 80vh;
align-items: end ;
align-content: center;
text-align: center;
box-shadow: blue;
    
background-color: rgb(147, 57, 57);

}

#navbar {
  background-color: aqua;
  margin: 2px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;         
  padding: 10px 20px;            
  list-style: none;   
  border: 1px solid blue;     
  border-radius: 20px;      
}

#search{
    border-radius: 50px;
}

input{
    box-shadow: 2px 3px 4px red ;
    border-radius: 20px;
    height: 25px;
    width: 200px;
    padding: 5px;
}

img{
    height: 50px;
    width: 50px;
}

/* child pro */
#item-2{
order: 5;
flex-grow: 4;
}
#item-5{
order: 6;
flex-grow: 2;
/* align-self: end; */
}