/* #d1{
             height: 50px;
              width: 50%;
             background-color: aqua;

        }
        #d2{
            height: 50px;
             width: 50%;
            background-color: aquamarine;
        }
         #d3{
            height: 50px;
             width: 50%;
            background-color: blueviolet;
        }
         #d4{
            height: 50px;
            width: 50%;

            background-color: chartreuse;
        }
         #d5{
            height: 50px;
            width: 50%;
            
            background-color: cornflowerblue;
        }
         div{
            border: 2px solid black;
        }

        .item{
            border: 3px solid rgb(255, 217, 0);
            padding: 1px;
            margin: 4px;
            
        } */

/* 
        header{
            background-color: aqua;
        }

        #id1{
            height: 50px;
            background-color: aqua;
            border: 3px solid rgb(6, 178, 246);
        } */
       